html
    head
        title= "Start"
    style
        include start.css
    body
        header= "Liczyć każdy może..."
        a(href="./login")
            div(class="btn")= "Zaloguj się"
        a(href="./register")
            div(class="btn")= "Zarejestruj się"