html
    head
        title= "Start"
    style
        include start.css
    body
        header= "Liczyć każdy może..."
        a(href="./login")
            div(class="btn__login")= "Zaloguj się"
        a(href="./register")
            div(class="btn__register")= "Zarejestruj się"



<body>
<header>Liczyć każdy może...</header>
<a href="question.html"><div class="btn__start">Rozpocznij quiz</div></a>
</body>
</html>